.designedContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "designedText designedImg";
}
.designedTextWrapper {
  grid-area: designedText;
  padding: 15px;
}
.designedImgWrapper {
  grid-area: designedImg;
}

@media (max-width: 425px) {
  .designedContainer {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .designedContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
  }
  .designedTextWrapper {
    padding: 0;
  }
}
