.designedContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "designedText designedImg";
}
.designedTextWrapper {
  grid-area: designedText;
  padding: 15px;
}
.designedImgWrapper {
  grid-area: designedImg;
}
