.newsFormContainer {

}
.emailInput {
  width: 25%;
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  height: 3em;
  padding-left: 10px;
}
.emailInput::placeholder {
  color: white;
  padding-left: 5px;
}
.emailSubmit {
  width: 25%;
  border: none;
  height: 3em;
  outline: solid thin;
  background-color: white;
  padding-top: 2px;
  margin-top: 1px;
}

@media(max-width: 768px) {
  .emailInput {
    width: 48%;
  }
  .emailSubmit {
    width: 48%;
  }
  .newsForm {
    display: flex;
  }
}
