.storeOuterContainer {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.inventoryTitleWrap {
  text-align: center;
  width: 85%;
}
.navStyles {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 20px;
}
.navStyles > a {
  color: black;
}
.navStyles > a:nth-of-type(2) {
  margin: 0 10px;
}
.linkNav {
  text-decoration: none;
  border-bottom: 1px solid black;
}
.linkNav:hover {
  border-bottom-color: gray;
  transition: border-bottom-color 0.4s;
}
.allStylesTitle, .allStyleText {
  font-weight: 300;
  font-size: calc(10px + (35 - 10) * ((100vw - 300px) / (1600 - 300)));
}
.storeHero {
  width: 100%;
}
@media (max-width: 425px) {
  .inventoryTitleWrap {
    width: 100%;
  }
  .storeOuterContainer {
    width: 100%;
  }
}
