/* .storeOuterContainer {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border: 1px solid rgba(0,0,0,0.25);
  background-color: #E8D6D1;
} */

/* BELOW IS FOR TESTING */

.inventoryTitleWrap {
  text-align: center;
}
.navStyles {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 20px;
}
.navStyles > a {
  color: black;
}
.navStyles > a:nth-of-type(2) {
  margin: 0 10px;
}
.linkNav {
  text-decoration: none;
  border-bottom: 1px solid black;
}
.linkNav:hover {
  border-bottom-color: gray;
  transition: border-bottom-color 0.4s;
}

.storeOuterContainer {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid black; */
    /* border: 1px solid rgba(0,0,0,0.25); */
    /* background-color: #f2f2f2; */
    /* outline: solid white thick; */
}
.allStylesTitle, .allStyleText {
  font-weight: 300;
  font-size: calc(10px + (35 - 10) * ((100vw - 300px) / (1600 - 300)));
}
.storeHero {
  width: 100%;
}
