/* .storeOuterContainer {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border: 1px solid rgba(0,0,0,0.25);
  background-color: #E8D6D1;
} */

/* BELOW IS FOR TESTING */

.storeOuterContainer {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid black; */
    /* border: 1px solid rgba(0,0,0,0.25); */
    background-color: #f2f2f2;
    outline: solid white thick;
}
.allStylesTitle, .allStyleText {
  font-weight: 300;
}
