.sideNav {
  margin: 0 auto;
  height: 100%;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}
.rightNavContainer {
  width: 9%;
  position: fixed;
  right: 0;
  top: 20%;
  float: right;
}
.rightNavWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
}
.rightNavIcon {
  font-size: calc(19px + (20 - 19) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: calc(0.5rem + (90 - 0.5) * ((100vw - 300px) / (1600 - 300)));
  color: black;
}
.rightNavIcon:last-child {
  margin-bottom: 0;
}
.cart {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: black;
  margin: auto 0;
}
.cartImg {
  list-style-type: none;
  position: relative;
  width: 100%;
}
.cartNumber {
  position: absolute;
  right: 25%;
  bottom: 50%;
  opacity: 1;
}
.newCart {
  width: 25%;
}
.icon {
  color: black;
}
@media (max-width: 425px) {
  .newCart {
    width: 50%;
    margin: auto;
  }
  .cartNumber {
    right: 10%;
    bottom: 75%;
  }
  .rightNavContainer {
    display: none;
  }
}
@media (max-width: 768px) {
  .rightNavContainer {
    top: 20%;
  }
  .newCart {
    width: 38%;
}
}
@media (max-width: 1024px) {
  .rightNavContainer {
    top: 18%;
  }
}
