/* BELOW IS FOR BOTH SIDE NAV GENERAL CSS */
.sideNav {
  margin: 0 auto;
  height: 100%;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}
.rightNavContainer {
  width: 9%;
  max-height: 550px;

}
.rightNavWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.rightNavIcon {
  font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: calc(0.5rem + (90 - 0.5) * ((100vw - 300px) / (1600 - 300)));
  color: black;
}
.rightNavIcon:last-child {
  margin-bottom: 0;
}
.cart {
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  display: flex;
  text-decoration: none;
  color: black;
}
.cartImg {
  list-style-type: none;
  position: relative;
}
.cartNumber {
  position: absolute;
  right: 25%;
  bottom: 50%;
  opacity: 1;
}
.newCart {
  width: 25%;
  margin: 0 42% 0 auto;
}
.icon {
  color: black;
}

@media (max-width: 1024px) {
  .cartNumber {
    /* top: -20px; */
  }
}

@media (max-width: 768px) {
  .cartNumber {
    /* top: -20px; */
  }
}
@media (max-width: 425px) {
  .cartNumber {
    /* top: -10px; */
  }
}
