.inventoryContainer {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.outerItemWrap {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.itemWrapper {
  width: 30%;
  margin: 15px;
  position: relative;
  cursor: pointer;
  border: 2px solid #FFF7F2;
  opacity: 1;
  padding-bottom: 20px;
  text-align: center;
}
.addCartButtonConst {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
.addCartButtonConst:hover {
  background-color: rgba(0,0,0,0.6);
  color: white;
  border-radius: 0px;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}
.itemName .itemPrice {
  width: 100%;
}
.addCartButton {
  cursor: pointer;
  background-color: black;
  padding: 2px 0;
  color: #FFFFFF;
  width: 79%;
  outline: none;
  border: none;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
}
div.itemWrapper:hover .addCartButton{
  transition: opacity 0.5s;
  opacity: 1;
}
div.itemWrapper:hover{
  transition: opacity 0.5s, border-color 0.5s;
  border-color: rgba(0,0,0,0.6);
}
.itemImage {
  width: 80%;
  padding: 20px;
}


@media (max-width:425px) {
  .itemImage {
    padding: 20px 0;
  }
  .addCartButtonConst {
    display: flex;
    padding: 5px;
    margin: 0 auto;
  }
  .itemWrapper {
    width: 90%;
    text-align: center;
    border: none;
  }
}
