.itemContainer {
  display: flex;
  width: 85%;
}
.itemImgWrap {
  width: 50%;
}
.itemImg {
  width: 100%;
}
.itemInfoWrap {
  width: 40%;
  padding: 15px;
  position: relative;
}
.itemReview {
  font-style: italic;
}
.itemName {
  margin: 0;
}
.the {
  margin-bottom: 5px;
}
.itemPrice {
  margin-top: 5px;
}
.backLink {
  color: black;
  display: block;
  position: absolute;
  bottom: 0;
}
.backLink:hover {
  color: gray;
}
@media (max-width: 768px) {
  .itemContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .itemInfoWrap {
    text-align: center;
    width: 100%;
  }
  .itemImgWrap {
    width: 80%;
  }
  .backLink {
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    width: fit-content;
    margin: 15px auto 0 auto;
    border-bottom: 1px solid black;
  }
}
@media(max-width: 1024px) {
  .backLink {
    bottom: -20px;
  }
}
