@import url('https://fonts.googleapis.com/css?family=Baskervville|Cinzel|Cormorant+Garamond:400,500|Gupter:400,500|Josefin+Slab:400,600,700|Noto+Serif+KR:400,600|Raleway:300,400,500,600,700&display=swap|Prata|Spectral:400,500&display=swap');

body {
  background-color: #FFF7F2;
  font-family: 'Raleway';
}
.headerOuterContainer {
  width: 100%;
  background-color: #FFF7F2;
  position: sticky;
  top: 0;
  z-index: 1100;
}
.headerWrap {
  display: flex;
  flex-direction: column;
}
.headerContainer {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navLink {
  font-size: 1.4rem;
  padding-top: 25px;
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  margin-bottom: 0;
}
.storeTitle {
  font-size: calc(1.5rem + (40 - 1.5) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Cinzel', serif;
  font-weight: 400;
  margin: 20px 0 0 0;
}
.titleWrapper {
  text-align: right;
  width: 92%;
}
.sonnen {
  color: #f50c4c;
}
.title {
  text-decoration: none;
  color: black;
  padding: 0 15px 0 0;
}
.title > li {
  border-bottom: 1px solid #FFF7F2;
  text-align: center;
  margin-bottom: 20px;
}
.title > li:hover {
  color: rgba(0,0,0,0.6);
}
.title > li::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 40%;
  padding-top: 3px;
  border-bottom: 1px solid #FFF7F2;
}
.title > li:hover::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 40%;
  padding-top: 3px;
  border-bottom: 1px solid rgba(0,0,0,0.6);;
  transition: border-bottom 0.5s, color 0.5s;
}
.headerWrap {
  list-style-type: none;
  padding: 0;
}
.headerOuterWrap {
  margin: auto 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 50px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #FFF7F2;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* MEDIA QUERIES */


@media (max-width: 375px) {
  .bm-burger-button {
    top: 25px;
    left: 10px;
  }
  .storeTitle {
    margin: 20px -20px 0 0;
  }
}
@media (min-width: 375px) {
  .bm-burger-button {
    top: 25px;
  }
}
@media (min-width: 425px) {
  .bm-burger-button {
    top: 25px;
  }
}
@media (max-width: 425px) {
  .headerOuterWrap {
    margin: auto;
  }
  .headerContainer {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .storeTitle {
    font-size: 35px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .bm-burger-button {
    top: 25px;
  }
}
@media (min-width: 1024px) {
  .bm-burger-button {
    top: 35px;
  }
}
