.reasonsContainer {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 85%;
  margin: 5% auto 0 auto;
  text-align: center;
}
.reasonImg {
  width: 40%;
}
.reasonTitle {
  font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
}
.reasonText {
  width: 80%;
  margin: 0 auto;
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
}


@media (max-width: 425px) {
  .reasonText {
    font-size: calc(10px + (24 - 10) * ((100vw - 300px) / (1600 - 300)));
  }
}
