.reasonsContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 85%;
  margin: 5% auto 0 auto;
  text-align: center;
}
.reasonImg {
  width: 40%;
  /* background-color: red; */
}
.reasonTitle {
  font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (1600 - 300)));
}
.reasonText {
  width: 80%;
  margin: 0 auto;
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
}
