.trendingContainer {
  height: 100%;
  width: 100%;
}
.first {
  /* width: 10%; */
  position: relative;
}
.slider-control-centerleft {
  display: none;
}
.slider-control-centerright {
  display: none;
}
.text {
  position: absolute;
  right: 0;
}
.trendingTitle {
  text-align: center;
  font-size: calc(20px + (60 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
  margin-bottom: 0;
}
.trendingImage {
  text-align: center;
}
